<a href="/restaurants/new">Add a Restaurant</a>
<a href="/users">See all Users</a>
<a href="/users">See all Restaurants</a>

<form action="/users" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">
    <input type="submit" value="Create User">
</form>