
<ul>
<%@businesses.each do |restaurant|%>
<li><%=restaurant.name%> - 
<ul>Address: <%=restaurant.location.address1%>, <%=restaurant.location.city%> </ul>

<ul>Phone: <%=restaurant.phone%></ul></li>
<br>
<%end%>
</ul>